@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

/*
buttonBGColor :"#0067FF,
YELLOWCOLOR:"F3B60D",
purplecolor:"#9771FF",
IRISBLUECOLOR:"#01b5c5",
headingColor:"181a1E",
textColor:"4E545F",

boxshadow:{
panelShadow: "rgba(17,12,46,0.15) 0px 48px 100px 0px",
}
*/